# Ignore all output folders
/output/gdml/*
/output/analysis/*.csv
/output/analysis/*.txt
/output/analysis/*.h5
*.gdml
/log*.txt
*.csv
*.png
*.step

# But always keep .gitkeep files everywhere
!*.gitkeep
!/output/**/*.gitkeep

# Ignore everything inside 'STEP files'
/data/STEPfiles/*

# (Optional) Ignore Python cache and backup files
__pycache__/
*.pyc
*~
